<div class="row">
    <p class="text-rigth">Hola {{usuario}}</p>

</div>
<div class="row">
    <p class="text-rigth"> <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión <i
                class="fas fa-sign-out-alt"></i></a></p>
</div>