<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transporte Integral Andina S.A</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/transporte.css">
</head>

<body>
    <header>
        <div class="holder">
            <div className="logo">
                <img src="/images/logo.png" width="100" alt="Transportes 2025 JUEVES">
                <h1>Transporte Integral Andina S.A</h1>
            </div>
        </div>

    </header>
    <nav>
        <ul>
            <li><a href="/" className="hover:text-gray-200">Inicio</a></li>
            <li><a href="/nosotros" className="hover:text-gray-200">Nosotros</a></li>
            <li><a href="/servicios" className="hover:text-gray-200">Servicios</a></li>
            <li><a href="/contacto" className="hover:text-gray-200">Contacto</a></li>
            <li><a href="/admin/login/" className="hover:text-gray-200">Admin</a></li>
        </ul>
        </nav>

    {{{body}}}
    <footer>
        <p>Diseñado por Jorge Mazzino - &copy;2025</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>