<div>
    <main className="holder">
        <div className="historia">
            <h2>Transporte Integral Andina S.A.</h2>
            <p>En Transporte Integral Andina nos especializamos en brindar soluciones logísticas confiables, seguras y
                eficientes para empresas y particulares en todo el país. Contamos con una flota moderna de camiones y
                utilitarios equipados con la última tecnología en seguimiento satelital, lo que nos permite garantizar
                puntualidad y trazabilidad en cada envío.</p>


        </div>
        <div className="staff">
            <ul>
                <h2>Nuestros principales servicios incluyen:</h2>

                    <li>Transporte de cargas generales: distribución urbana, interurbana y nacional.</li>
                    <li>Transporte especializado: maquinaria, productos refrigerados y materiales frágiles.</li>
                    <li>Logística y distribución: almacenamiento, clasificación y entrega puerta a puerta.</li>
                    <li>Envíos urgentes: soluciones express para clientes que necesitan rapidez sin sacrificar bseguridad.</li>
            </ul>
            
            <p>Nuestro compromiso es construir relaciones a largo plazo con cada cliente, ofreciendo atención
                personalizada, tarifas competitivas y un servicio de excelencia en cada etapa del proceso.

                Con Andina, tu carga llega a destino en tiempo y forma.</p>
            <div className="persona">
                <img src="images/nosotros/nosotros5.jpg" alt="Luciano Figuero"></img>
                <h5>Luciano Figuero</h5>
                <h6>Gerente Logistica</h6>
  
            </div>
        </div>
</div>
</main>
</div>