body {
    background-color: #332F29;
}

.contenedor {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #8FA68E;
    text-align: center;
    padding: 20px;

}

.holder {
    display: flex;
}

nav {
    background-color: #F7DC6F;
    width: 30%;

}

nav ul li {
    list-style: none;
    padding: 10px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

main {
    width: 40%;
    background-color: #fdf3ca;
}

aside {
    background-color: #c9c1a0;
    width: 30%;
}

footer {
    background-color: #CCC59E;
    text-align: center;
}

@media screen and (max-width:600px){

    header{
        text-align: center;
    }
    .holder{
        flex-wrap: wrap;
     }
    
    nav {
        width: 100%;
        border-bottom: 2px solid black;
    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;

    }

    main {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid black;
    }

    aside {
        width: 100%;
        border-bottom: 2px solid black;
        text-align: center;
        display: name;
    }
}