header
{
    color:red;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color:darksalmon;
    margin: 1%;
    padding: 1%;
    
}
body,footer
{
    color:red;
    font-family:'Courier New', Courier, monospace;
    background-color:darksalmon;
    margin: 1%;
    padding: 1%;
    
}